 {% extends 'base.html' %}
    {% block content %}



<div class=" container-fluid ">
    <h1> Выберите из списка группу или создайте свою согласно заявке</h1>
  <ul>

    {% for g in group %}

        <li ><i class="fa-solid fa-people-group"></i> <a href="{% url 'groups:add_user_to_group'  user.username g.id %}" class="p-3">{{ g.group_title }}</a> </li>
    <br>
        <hr>

    {% endfor %}
</ul>

 <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-primary btn fill-blue-600"> создать группу</button>
</form>
</div>
 {% endblock %}