{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% csrf_token %}
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>

    <div class="container">
        <h1>Группы</h1>

        <ul class="list-group  flex-column justify-center ">
            {% for group in groups %}
                <li class="list-group-item ">
                    <h2 class="">  {{ group.group_title }}</h2>
                    <button class="btn btn-primary float-right"
                            onclick="showAddToGroupModal('{{ group.id }}', '{{ group.group_title }}')">Вступить
                    </button>
                </li>
            {% endfor %}
        </ul>
        {% if can_create %}
            <h2>Создать свою группу</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Создать</button>
            </form>

        {% endif %}


    </div>

    <!-- Modal -->
    <div class="modal fade" id="addToGroupModal" tabindex="-1" role="dialog" aria-labelledby="addToGroupModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToGroupModalLabel">Присоединиться</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы хотите присоединиться к группе <span id="group-name"></span>?
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary" id="confirm-join-group">Да</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function showAddToGroupModal(groupId, groupName) {
            document.getElementById('group-name').innerText = groupName;
            document.getElementById('confirm-join-group').setAttribute('data-group-id', groupId);
            $('#addToGroupModal').modal('show');
        }

        document.getElementById('confirm-join-group').addEventListener('click', function () {
            var groupId = this.getAttribute('data-group-id');
            fetch('{% url "groups:add_user_to_group" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    'group_id': groupId
                })
            })
                .then(response => response.json())
                .then(data => {

                    if (data.status === 'success') {

                        $('#addToGroupModal').modal('hide');
                        window.location.href = data.redirect_url;
                    }
                });
        });
    </script>
{% endblock %}