{% extends 'base.html' %}
{% load time_tag %}
<h1>hello</h1>
{% block content %}
    <div class="container-fluid">


        {% for message in messages %}
            <h2 class="alert-danger">{{ message }}</h2>
        {% endfor %}


        {% if message %}
            <h1> {{ message }}</h1>


            <a href="{% url  'groups:group_list_and_create' user.username %}">добавиться в группу</a>
        {% else %}


            <h3> Ваша {% if flag %}группа {% else %} команда {% endif %} и участники</h3>

            <br>

            {% for team, data in group_data.items %}
                <h3> Итоги по {% if flag %}группе {% else %} команде {% endif %}</h3>
                <p>Баллы {{ data.total_results.total_balls }}</p>
                <p>Дистанция {{ data.total_results.total_distance }}</p>
                <p>Время {{ data.total_results.total_time }}</p>
                <p>Средний темп {{ data.total_results.total_average_temp|smooth_filter }}</p>
                <p>Дней пробега {{ data.total_results.total_days }}</p>
                <p>Всего пробежек {{ data.total_results.total_runs }} </p>

            {% endfor %}

            {% for k,v in qs.items %}
                <tr aria-colspan="9">{{ k }}</tr>
                <table class="table-striped" id="myteam">

                    <thead>
                    {#                    <tr class="bg-white outline text-center text-bg-dark text-lg-center font-extrabold text-bg-secondary">#}
                    {#                        <th colspan="9"> {{ k }}</th>#}
                    {#                    </tr>#}

                    <tr>
                        <th>№п/п</th>
                        <th>Участник</th>
                        <th>баллы</th>
                        <th>дистанция</th>
                        <th>время</th>
                        <th>средний темп</th>
                        <th>всего дней</th>
                        <th> пробежки</th>
                        <th>квалификация</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in v %}
                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td> {{ u.user }}</td>
                            <td> {{ u.total_balls }}</td>
                            <td> {{ u.total_distance }}</td>
                            <td> {{ u.total_time }}</td>
                            <td> {{ u.total_average_temp }}</td>
                            <td> {{ u.total_days }}</td>
                            <td> {{ u.total_runs }}</td>
                            <td>{% if u.is_qualificated %} Да {% else %} Нет {% endif %}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>



            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block extrascripts %}

    <script>
        var table = new DataTable("#myteam", {

             layout: {
                pageLength: 30,

            },
            {#    topStart: "info",#}
            {#    bottom: 'paging',#}
            {##}
            {#    bottomStart: null,#}
            {#    bottomEnd: null,#}
            {#    responsive: true,#}


            columnDefs: [
                {targets: '_all', className: 'dt-body-center  dt-head-center'},
                {
                    defaultContent: "-",
                    targets: "_all"
                }

            ],

            language: {
                processing: "Подождите...",
                search: "",
                lengthMenu: "Показать _MENU_ записей",
                info: "Записи с _START_ до _END_ из _TOTAL_ записей",
                infoEmpty: "Записи с 0 до 0 из 0 записей",
                infoFiltered: "(отфильтровано из _MAX_ записей)",
                loadingRecords: "Загрузка записей...",
                zeroRecords: "Записи отсутствуют.",
                emptyTable: "В таблице отсутствуют данные",
                paginate: {
                    first: "Первая",
                    previous: "Предыдущая",
                    next: "Следующая",
                    last: "Последняя",
                },
                searchPlaceholder: "Поиск участника",
            },
        });
    </script>
{% endblock %}
