{% extends 'base.html' %} {% load time_tag %}{% load static %}
<h1>hello</h1>
{% block content %}

<div class="mx-5">
  <div
    class="hidden md:flex text-center bg-sky-700 flex-col rounded-t-2xl pb-10 mx-10"
  ></div>
  <main
    class="flex flex-col justify-center rounded-2xl pb-3 pt-10 bg-sky-900 h-full"
  >

    <div
      class="flex lg:gap-5 flex-col lg:flex-row  bg-gray-200 mb-3 rounded-2xl w-full p-3 my-3 md:p-6 md:my-0"
    >
            <!-- sidebar  -->
             {% for team, data in group_data.items %}
        <div class="">
            <h1 class="mx-auto text-left text-lg font-semibold truncate">Ваша {% if flag %}группа {% else %} команда {% endif %}</h1>
            <div class="lg:w-[429px] p-5 shadow my-5 rounded-xl bg-white">
              <div class="flex flex-row  items-center mb-5">
              <div class="flex w-full  justify-center  items-center gap-5">
                    <img
          class="w-20 h-20 shrink-0"
          src="{% if flag %}{% static 'img/teams.png' %}{% else %}{% static 'img/group.png' %}{% endif %}"
          alt="User Avatar"
        />
               <div class="flex flex-col">
                <div class="text-lg font-semibold truncate">{{ runner_stat }}
                    <div class="flex items-center">
           
                    <span class="text-lg font-semibold text-slate-500 truncate">{% for k,v in qs.items %}
                        {{ k }} {%endfor%}</span>
                    </div>
                  </div>

                </div>
            </div>
            <div class="flex w-full flex-col border-l p-3 justify-center items-center text-xl font-bold">
                <div>
                    <span class=" text-2xl font-semibold leading-8">{{ rank }}</span>
                    <span class=" text-slate-500 text-2xl font-semibold leading-8">/ {{ group_count }}</span>
                </div>
                <div>
                  <span class="text-base text-slate-500">Место среди {% if flag %}групп {% else %} команд {% endif %} </span>

                </div>

            </div>
              </div>

            {#   {% cache 300 user.username %}#}


             <div class="bg-gray-200 h-px mb-2"></div>
                <div class="flex w-full justify-around items-center">
                    <div class="p-5 flex flex-col justify-center items-center w-1/3 text-center border-r">

                        <svg class="size-5 text-gray-500 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                        </svg>

                        <h4 class="mt-2 text-lg font-semibold leading-8">
                            {% if data.total_results.total_balls  %}
                            {{ data.total_results.total_balls }}
                            {% else %} 0
                            {% endif %}
                        </h4>
                        <h5 class="mt-1 text-sm text-slate-500">Баллы</h5>
                    </div>

                    <div class="p-5 flex flex-col items-center w-1/3 text-center border-r">

                        <svg class="size-5 text-gray-500 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                        </svg>

                        <h4 class="mt-2 text-lg font-semibold leading-8">
                            {% if data.total_results.total_distance %}
                            {{ data.total_results.total_distance|floatformat:3 }}</h4>
                        {% else %} 0
                            {% endif %}
                        <h5 class="mt-1 text-sm text-slate-500">Дистанция</h5>
                    </div>





                <div class="p-5 flex flex-col items-center w-1/3 text-center">

                        <svg class="size-5 text-gray-500 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>


                    <h4 class="mt-2 text-lg font-semibold leading-8">

                        {%  if data.total_results.total_average_temp %}
                        {{ data.total_results.total_average_temp|smooth_filter }}
                        {% else %}0
                        {% endif %}

                    </h4>
                    <h5 class="mt-1 text-sm text-slate-500">Темп</h5>


                </div>



                {# {% endcache %}#}

                </div>
        </div>





    </div>
{% endfor %}

        {% for message in messages %}
        <h2 class="alert-danger">{{ message }}</h2>
        {% endfor %} {% if message %}
        <h1 class="text-2xl">{{ message }}</h1>

        <div class="w-75">
        <button class=" rounded-3xl bg-green-400 w-72 hover:bg-[#1724C9]/90">
        <a href="{% url  'groups:group_list_and_create' user.username %}" class="w-75 text-2xl"
          > Добавиться в группу</a
        ></button>
        </div>
        {% else %}



         {% for k,v in qs.items %}

        <div class="flex flex-col flex-1 ">
            <h1 class=" text-left text-lg font-semibold truncate"> Участники {% if flag %}группы {% else %} команды {% endif %}</h1>
        <div class=" w-full mt-5 bg-white shadow  rounded-xl">
        
        <table id="sorting-table">
    <thead>
        <tr>
            <th>
                <span class="flex items-center">
                    №п/п
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Участник
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    баллы
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    дистанция
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    время
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    средний темп
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    всего дней
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    пробежки
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    квалификация
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for u in v %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ u.user }}</td>
            <td>{{ u.total_balls }}</td>
            <td>{{ u.total_distance|floatformat:3 }}</td>
            <td>{{ u.total_time }}</td>
            <td>{{ u.total_average_temp }}</td>
            <td>{{ u.total_days }}</td>
            <td>{{ u.total_runs }}</td>
            <td>{% if u.is_qualificated %} Да {% else %} Нет {% endif %}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
        </div>
        </div>


        {% endfor %} {% endif %}
      </div>
    </div>
  </main>
</div>

{% endblock %} {% block extrascripts %}

<script>
  var table = new DataTable("#myteam", {

       layout: {
          pageLength: 30,
          responsive: true,


      },
      responsive: true,
      scrollX: true,
      {#    topStart: "info",#}
      {#    bottom: 'paging',#}
      {##}
      {#    bottomStart: null,#}
      {#    bottomEnd: null,#}



      columnDefs: [
          {targets: '_all', className: 'dt-body-center  dt-head-center'},
          {
              defaultContent: "-",
              targets: "_all"
          }

      ],

      language: {
          processing: "Подождите...",
          search: "",
          lengthMenu: "Показать _MENU_ записей",
          info: "Записи с _START_ до _END_ из _TOTAL_ записей",
          infoEmpty: "Записи с 0 до 0 из 0 записей",
          infoFiltered: "(отфильтровано из _MAX_ записей)",
          loadingRecords: "Загрузка записей...",
          zeroRecords: "Записи отсутствуют.",
          emptyTable: "В таблице отсутствуют данные",
          paginate: {
              first: "Первая",
              previous: "Предыдущая",
              next: "Следующая",
              last: "Последняя",
          },
          searchPlaceholder: "Поиск участника",
      },
  });
</script>
{% endblock %}