{% extends 'base.html' %} {%load static%} {%load time_tag%}
<h1>hello</h1>
{% block content %}



<div class="mx-5">
  <div
    class="hidden md:flex text-center bg-sky-700 flex-col rounded-t-2xl pb-10 mx-10"
  ></div>
  <main
    class="flex flex-col justify-center rounded-2xl pb-3 pt-10 bg-sky-900 h-full"
  >
    <div
      class="flex lg:gap-5 flex-col lg:flex-row  bg-gray-200 mb-3 rounded-2xl w-full p-3 my-3 md:p-6 md:my-0"
    >
            <!-- sidebar  -->
             {% for team, data in group_data.items %}
        <div class="">
            <h1 class="mx-auto text-left text-lg font-semibold truncate">Статистика {% if flag %}группы {% else %} команды {% endif %}</h1>
            <div class="lg:w-[429px] p-5 shadow my-5 rounded-xl bg-white">
              <div class="flex flex-row  items-center mb-5">
              <div class="flex w-1/2  justify-center  items-center gap-5">
                    <img
          class="w-16 h-16 md:w-20 md:h-20 shrink-0"
          src="{% if flag %}{% static 'img/teams.png' %}{% else %}{% static 'img/group.png' %}{% endif %}"
          alt="User Avatar"
        />
               <div class="flex flex-col">    
                <div class="text-md md:text-lg font-semibold text-slate-500">{{ team }} 

                  </div>
                
                </div> 
            </div>
            <div class="flex w-1/2 flex-col border-l p-3 justify-center items-center text-xl font-bold">
                <div>
                    <span class=" text-2xl font-semibold leading-8">    {{ rank }}</span>
                    <span class=" text-slate-500 text-2xl font-semibold leading-8">/ {{ group_count }}</span>
                </div>
                <div>
                  <span class="text-base text-slate-500">Место ({% if flag %}группы{% else %}команды{% endif %})</span>
                    
                </div>

            </div>
              </div>

            {#   {% cache 300 user.username %}#}
           
            
             <div class="bg-gray-200 h-px mb-2"></div>
                <div class="flex w-full justify-around items-center">
                    <div class="p-5 flex flex-col justify-center items-center w-1/3 text-center border-r">
                     
                        <svg class="size-5 text-gray-500 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                        </svg>

                        <h4 class="mt-2 text-lg font-semibold leading-8">{% if data.total_results.total_balls %}{{ data.total_results.total_balls }}{% else %}0{% endif %}</h4>
                        <h5 class="mt-1 text-sm text-slate-500">Баллы</h5>
                    </div>
                    
                    <div class="p-5 flex flex-col items-center w-1/3 text-center border-r">
                        
                        <svg class="size-5 text-gray-500 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                        </svg>

                        <h4 class="mt-2 text-lg font-semibold leading-8">{% if data.total_results.total_distance|floatformat%}{{ data.total_results.total_distance |floatformat:3 }}{% else %} 0{% endif %}</h4>
                        <h5 class="mt-1 text-sm text-slate-500">Дистанция</h5>
                    </div>
                    
                       
                       
                        
                       
                
                <div class="p-5 flex flex-col items-center w-1/3 text-center">
                       
                        <svg class="size-5 text-gray-500 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>


                    <h4 class="mt-2 text-lg font-semibold leading-8"> {% if data %}{{ data.total_results.total_average_temp|smooth_filter }} {% else  %}0{% endif %}</h4>
                    <h5 class="mt-1 text-sm text-slate-500">Темп</h5>


                </div>
      

     
                {# {% endcache %}#}

                </div>
        </div>





    </div>

      




         
      
        <div class="flex flex-col flex-1 ">
            <h1 class=" text-left text-lg font-semibold truncate"> Участники {% if flag %}группы {% else %} команды {% endif %}</h1>
        <div class=" w-full mt-5 bg-white shadow  rounded-xl">
   
        
<table id="sorting-table">
    <thead>
        <tr>
            <th>
                <span class="flex items-center">
                    Участник
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    баллы
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    дистанция
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Общее время
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    темп
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Дней пробега
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    пробежки
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for user in data.users %} {%for stat in data.user_stats %} {% if stat.runner_stat == user %}
        <tr>
            <td><a  class="font-semibold text-gray-900 whitespace-nowrap" href="{% url 'profile:profile' user.username %}">
            
                <span class="flex flex-row  flex-nowrap text-sm font-semibold text-black">
                    {{ user.username }} 
            
                {% if user.runner_gender == 'м' %}
                                            
                     <svg class="w-5 h-5 me-2 " fill="#0080ff" viewBox="-5.12 -5.12 266.24 266.24" id="Flat" xmlns="http://www.w3.org/2000/svg" stroke="#0080ff" stroke-width="5.12">
                         <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                         <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                         <g id="SVGRepo_iconCarrier">
                          <path d="M219.9209,39.21582c-.02246-.11328-.06519-.21777-.09693-.32715a2.32952,2.32952,0,0,0-.324-.7876c-.05811-.10693-.10522-.21777-.17383-.31982a3.99291,3.99291,0,0,0-.49316-.604l-.0044-.00537h0a4.01587,4.01587,0,0,0-.61108-.499c-.08984-.06006-.1875-.10058-.28076-.15234a3.98009,3.98009,0,0,0-.40918-.21533c-.11646-.04786-.23828-.07422-.35791-.11084a3.89106,3.89106,0,0,0-.38965-.11573,4.05713,4.05713,0,0,0-.64258-.06494C216.09082,36.01221,216.04712,36,216,36H168a4,4,0,0,0,0,8h38.34326L154.83643,95.50635a76.00057,76.00057,0,1,0,5.65673,5.65674L212,49.65674V88a4,4,0,0,0,8,0V40.00146A4.03032,4.03032,0,0,0,219.9209,39.21582ZM152.083,200.084a67.96779,67.96779,0,1,1,0-96.168A68.07554,68.07554,0,0,1,152.083,200.084Z"></path></g>
                     </svg>
                    {% else %}
                    <svg class="w-5 h-5 me-2" fill="#ff80c0" viewBox="0 0 256 256" id="Flat"
                                                    xmlns="http://www.w3.org/2000/svg" stroke="#ff80c0" stroke-width="5.12">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                    stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <path d="M204,96a76,76,0,1,0-80,75.89355V204H88a4,4,0,0,0,0,8h36v28a4,4,0,0,0,8,0V212h36a4,4,0,0,0,0-8H132V171.89355A76.09456,76.09456,0,0,0,204,96ZM60,96a68,68,0,1,1,68,68A68.07728,68.07728,0,0,1,60,96Z"></path>
                                                    </g>
                    </svg>
                    {% endif %}
                </span>
                <div class="flex  items-center">
                    


                                            {% if user.runner_category == 1 %}
                                                <span
                                                        class="bg-yellow-100 text-xs text-yellow-600 px-2 py-0.5 rounded text-center"
                                                >Новичок</span>
                                            {% elif user.runner_category == 2 %}
                                                <span
                                                        class="bg-green-100 text-xs text-green-600 px-2 py-0.5 rounded text-center"
                                                >Любитель</span>
                                            {% elif user.runner_category == 3 %}
                                                <span
                                                        class="bg-sky-100 text-xs text-sky-600 px-2 py-0.5 rounded text-center"
                                                >Профи</span>
                                            {% endif %}

                                            {% if user.runner_group %}
                                                <span>
                                                    <svg class="size-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                                                </svg>
                                                </span>

                                            {% endif %}
                </div>
        </a></td>
            <td>{{ stat.total_balls }}</td>
            <td>{{ stat.total_distance|floatformat:3 }}</td>
            <td>{{ stat.total_time|time:"H:i:s" }}</td>
            <td>{{ stat.total_average_temp|time:"i:s" }}</td>
            <td>{{ stat.total_days }}</td>
            <td>{{ stat.total_runs }}</td>
        </tr>
{% endif %} {% endfor %} {% endfor %}
    </tbody>
</table>

        </div>
        </div>
    

       
      </div>
    </div>
  </main>
</div>
{% endfor %}
{% endblock %} {% block extrascripts %}
{% endblock %}
