{% extends 'base.html' %} {% load static %} {% block content %}
    <div class="h-full rounded-2xl p-6 pb-12">
        <span id="category" hidden="hidden">{{ runner_category }}</span>
        <div class="mx-auto">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="mx-auto max-w-md h-12 text-sky-500"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z"
                />
            </svg>

            <h2
                    class="mt-2 text-center text-2xl font-bold text-sky-100 sm:mt-6 sm:text-3xl"
            >
                Добавить сведения
            </h2>
        </div>
        <div
                class="mx-auto mt-6 w-full max-w-md rounded-2xl bg-white/80 p-6 shadow-xl backdrop-blur-xl sm:mt-10 sm:p-10"
        >
            <form
                    method="post"
                    enctype="multipart/form-data"
                    autocomplete="off"
                    class="space-y-6"
            >
                {% csrf_token %}

                {% for message in messages %}
                    {{ message }}
                {% endfor %}



                <div>
                    <label for="username" class="block text-sm font-medium text-gray-700"
                    >День пробега</label
                    >
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-5 w-5 text-gray-400"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
                                />
                            </svg>
                        </div>
                        {{ form.day_select }}
                    </div>
                </div>

                <div>
                    <label for="team" class="block text-sm font-medium text-gray-700"
                    >Дистанция за день</label
                    >
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-5 w-5 text-gray-400"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"
                                />
                            </svg>
                        </div>
                        {{ form.day_distance }}

                        <div class="absolute inset-y-0 right-0 flex items-center pr-3"></div>
                    </div>
                </div>

                <div>
                    <label
                            for="id_day_time"
                            class="block text-sm font-medium text-gray-700"
                    >Введите время пробега</label
                    >
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg
                                    class="h-5 w-5 text-gray-400"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                />
                            </svg>
                        </div>
                        {{ form.day_time }}
                    </div>
                </div>
                <div>
                    <label
                            for="id_day_average_temp"
                            class="block text-sm font-medium text-gray-700"
                    >Средний темп</label
                    >
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg
                                    class="h-5 w-5 text-gray-400"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                />
                            </svg>
                        </div>
                        {{ form.day_average_temp }}
                    </div>
                </div>

                <div
                        id="alarm_message"
                        class="text-xs text-center font-medium text-red-600"
                ></div>

                <div>
                    <label
                            for="run_url"
                            class="block text-sm font-medium text-gray-700"
                    >Ссылка на пробежку</label
                    >
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400 size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5
                                       4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622
                                      1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5
                                       4.5 0 0 0 1.242 7.244"/>
                            </svg>

                        </div>
                        {{ form.run_url }}
                    </div>
                </div>


                <div>
                    <label
                            for="ball"
                            class="block text-sm font-medium text-gray-700"
                    >Баллы за пробежку</label
                    >
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-5 w-5 text-gray-400"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z"
                                />
                            </svg>
                        </div>
                        {{ form.ball }}
                    </div>
                </div>
                <div>
                    <label
                            class="block text-sm font-medium mb-1 text-gray-700"
                            for="small_size"
                    >Фотоотчет</label
                    >
                    <input
                            class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-md cursor-pointer bg-gray-50 focus:outline-none"
                            id="id_photo"
                            type="file"
                            name="photo"
                            required=""
                            multiple="multiple"
                    />
                </div>

                <div class="flex justify-center gap-5 items-center">
                    <button id="button"
                            type="submit"
                            class="rounded-md bg-sky-600 py-2 px-5 ms-3 font-medium text-white shadow-lg transition duration-150 ease-in-out hover:bg-sky-700 hover:shadow-xl focus:shadow-xl focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
                    >
                        Сохранить
                    </button>
                    <a
                            href="{% url 'profile:profile' user.username %}"
                            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                    >Отмена</a
                    >
                </div>
            </form>
        </div>
    </div>

{% endblock %} {% block extrascripts %}
    <script>

        let distance_koef = [
            [4.9, 1, 1], [9.9, 1.1, 2.1],
            [14.9, 1.2, 3.3], [19.9, 1.3, 4.6],
            [24.9, 1.4, 6], [29.9, 1.5, 7.5],
            [34.9, 1.6, 9.1], [39.9, 1.7, 10.8],
            [44.9, 1.8, 12.6], [49.9, 1.9, 14.5],
            [50, 2, 16.5]
        ]

        let temp_koef = {
            "00:02:38": 2.71,
            "00:02:39": 2.71,
            "00:02:40": 2.71,
            "00:02:41": 2.72,
            "00:02:42": 2.72,
            "00:02:43": 2.72,
            "00:02:44": 2.70,
            "00:02:45": 2.70,
            "00:02:46": 2.70,
            "00:02:47": 2.68,
            "00:02:48": 2.68,
            "00:02:49": 2.68,
            "00:02:50": 2.66,
            "00:02:51": 2.66,
            "00:02:52": 2.66,
            "00:02:53": 2.64,
            "00:02:54": 2.64,
            "00:02:55": 2.64,
            "00:02:56": 2.62,
            "00:02:57": 2.62,
            "00:02:58": 2.62,
            "00:02:59": 2.60,
            "00:03:00": 2.58,
            "00:03:01": 2.58,
            "00:03:02": 2.58,
            "00:03:03": 2.58,
            "00:03:04": 2.58,
            "00:03:05": 2.56,
            "00:03:06": 2.56,
            "00:03:07": 2.56,
            "00:03:08": 2.54,
            "00:03:09": 2.54,
            "00:03:10": 2.54,
            "00:03:11": 2.52,
            "00:03:12": 2.52,
            "00:03:13": 2.52,
            "00:03:14": 2.50,
            "00:03:15": 2.50,
            "00:03:16": 2.50,
            "00:03:17": 2.48,
            "00:03:18": 2.48,
            "00:03:19": 2.48,
            "00:03:20": 2.46,
            "00:03:21": 2.46,
            "00:03:22": 2.46,
            "00:03:23": 2.44,
            "00:03:24": 2.44,
            "00:03:25": 2.44,
            "00:03:26": 2.42,
            "00:03:27": 2.42,
            "00:03:28": 2.42,
            "00:03:29": 2.40,
            "00:03:30": 2.40,
            "00:03:31": 2.40,
            "00:03:32": 2.38,
            "00:03:33": 2.38,
            "00:03:34": 2.38,
            "00:03:35": 2.36,
            "00:03:36": 2.36,
            "00:03:37": 2.36,
            "00:03:38": 2.34,
            "00:03:39": 2.34,
            "00:03:40": 2.34,
            "00:03:41": 2.32,
            "00:03:42": 2.32,
            "00:03:43": 2.30,
            "00:03:45": 2.30,
            "00:03:46": 2.30,
            "00:03:47": 2.28,
            "00:03:48": 2.28,
            "00:03:49": 2.28,
            "00:03:50": 2.26,
            "00:03:51": 2.26,
            "00:03:52": 2.26,
            "00:03:53": 2.24,
            "00:03:54": 2.24,
            "00:03:55": 2.24,
            "00:03:56": 2.22,
            "00:03:57": 2.22,
            "00:03:58": 2.22,
            "00:03:59": 2.20,
            "00:04:00": 2.20,
            "00:04:01": 2.20,
            "00:04:02": 2.18,
            "00:04:03": 2.18,
            "00:04:04": 2.18,
            "00:04:05": 2.16,
            "00:04:06": 2.16,
            "00:04:07": 2.16,
            "00:04:08": 2.14,
            "00:04:09": 2.14,
            "00:04:10": 2.14,
            "00:04:11": 2.12,
            "00:04:12": 2.12,
            "00:04:13": 2.12,
            "00:04:14": 2.10,
            "00:04:15": 2.10,
            "00:04:16": 2.10,
            "00:04:17": 2.08,
            "00:04:18": 2.08,
            "00:04:19": 2.08,
            "00:04:20": 2.06,
            "00:04:21": 2.06,
            "00:04:22": 2.06,
            "00:04:23": 2.04,
            "00:04:24": 2.04,
            "00:04:25": 2.04,
            "00:04:26": 2.02,
            "00:04:27": 2.02,
            "00:04:28": 2.02,
            "00:04:29": 2.0,
            "00:04:30": 1.98,
            "00:04:31": 1.98,
            "00:04:32": 1.98,
            "00:04:33": 1.98,
            "00:04:34": 1.98,
            "00:04:35": 1.96,
            "00:04:36": 1.96,
            "00:04:37": 1.96,
            "00:04:38": 1.94,
            "00:04:39": 1.94,
            "00:04:40": 1.92,
            "00:04:41": 1.92,
            "00:04:42": 1.92,
            "00:04:43": 1.92,
            "00:04:44": 1.90,
            "00:04:45": 1.90,
            "00:04:46": 1.90,
            "00:04:47": 1.88,
            "00:04:48": 1.88,
            "00:04:49": 1.88,
            "00:04:50": 1.86,
            "00:04:51": 1.86,
            "00:04:52": 1.86,
            "00:04:53": 1.84,
            "00:04:54": 1.84,
            "00:04:55": 1.84,
            "00:04:56": 1.82,
            "00:04:57": 1.82,
            "00:04:58": 1.82,
            "00:04:59": 1.80,
            "00:05:00": 1.78,
            "00:05:01": 1.78,
            "00:05:02": 1.78,
            "00:05:03": 1.78,
            "00:05:04": 1.78,
            "00:05:05": 1.76,
            "00:05:06": 1.76,
            "00:05:07": 1.76,
            "00:05:08": 1.74,
            "00:05:09": 1.74,
            "00:05:10": 1.74,
            "00:05:11": 1.72,
            "00:05:12": 1.72,
            "00:05:13": 1.72,
            "00:05:14": 1.70,
            "00:05:15": 1.70,
            "00:05:16": 1.70,
            "00:05:17": 1.68,
            "00:05:18": 1.68,
            "00:05:19": 1.68,
            "00:05:20": 1.66,
            "00:05:21": 1.66,
            "00:05:22": 1.66,
            "00:05:23": 1.64,
            "00:05:24": 1.64,
            "00:05:25": 1.64,
            "00:05:26": 1.62,
            "00:05:27": 1.62,
            "00:05:28": 1.62,
            "00:05:29": 1.60,
            "00:05:30": 1.58,
            "00:05:31": 1.58,
            "00:05:32": 1.58,
            "00:05:33": 1.58,
            "00:05:34": 1.58,
            "00:05:35": 1.56,
            "00:05:36": 1.56,
            "00:05:37": 1.56,
            "00:05:38": 1.54,
            "00:05:39": 1.54,
            "00:05:40": 1.54,
            "00:05:41": 1.52,
            "00:05:42": 1.52,
            "00:05:43": 1.52,
            "00:05:44": 1.50,
            "00:05:45": 1.50,
            "00:05:46": 1.50,
            "00:05:47": 1.48,
            "00:05:48": 1.48,
            "00:05:49": 1.48,
            "00:05:50": 1.46,
            "00:05:51": 1.46,
            "00:05:52": 1.46,
            "00:05:53": 1.44,
            "00:05:54": 1.44,
            "00:05:55": 1.44,
            "00:05:56": 1.42,
            "00:05:57": 1.42,
            "00:05:58": 1.42,
            "00:05:59": 1.40,
            "00:06:00": 1.38,
            "00:06:01": 1.38,
            "00:06:02": 1.38,
            "00:06:03": 1.38,
            "00:06:04": 1.38,
            "00:06:05": 1.36,
            "00:06:06": 1.36,
            "00:06:07": 1.36,
            "00:06:08": 1.34,
            "00:06:09": 1.34,
            "00:06:10": 1.34,
            "00:06:11": 1.32,
            "00:06:12": 1.32,
            "00:06:13": 1.32,
            "00:06:14": 1.30,
            "00:06:15": 1.30,
            "00:06:16": 1.30,
            "00:06:17": 1.28,
            "00:06:18": 1.28,
            "00:06:19": 1.28,
            "00:06:20": 1.26,
            "00:06:21": 1.26,
            "00:06:22": 1.26,
            "00:06:23": 1.24,
            "00:06:24": 1.24,
            "00:06:25": 1.24,
            "00:06:26": 1.22,
            "00:06:27": 1.22,
            "00:06:28": 1.22,
            "00:06:29": 1.20,
            "00:06:30": 1.18,
            "00:06:31": 1.18,
            "00:06:32": 1.18,
            "00:06:33": 1.18,
            "00:06:34": 1.18,
            "00:06:35": 1.16,
            "00:06:36": 1.16,
            "00:06:37": 1.16,
            "00:06:38": 1.14,
            "00:06:39": 1.14,
            "00:06:40": 1.14,
            "00:06:41": 1.12,
            "00:06:42": 1.12,
            "00:06:43": 1.12,
            "00:06:44": 1.10,
            "00:06:45": 1.10,
            "00:06:46": 1.10,
            "00:06:47": 1.08,
            "00:06:48": 1.08,
            "00:06:49": 1.08,
            "00:06:50": 1.06,
            "00:06:51": 1.06,
            "00:06:52": 1.06,
            "00:06:53": 1.04,
            "00:06:54": 1.04,
            "00:06:55": 1.04,
            "00:06:56": 1.02,
            "00:06:57": 1.02,
            "00:06:58": 1.02,
            "00:06:59": 1.0,
            "00:07:00": 0.99,
            "00:07:01": 0.99,
            "00:07:02": 0.99,
            "00:07:03": 0.99,
            "00:07:04": 0.99,
            "00:07:05": 0.98,
            "00:07:06": 0.98,
            "00:07:07": 0.98,
            "00:07:08": 0.97,
            "00:07:09": 0.97,
            "00:07:10": 0.97,
            "00:07:11": 0.96,
            "00:07:12": 0.96,
            "00:07:13": 0.96,
            "00:07:14": 0.95,
            "00:07:15": 0.95,
            "00:07:16": 0.95,
            "00:07:17": 0.94,
            "00:07:18": 0.94,
            "00:07:19": 0.94,
            "00:07:20": 0.93,
            "00:07:21": 0.93,
            "00:07:22": 0.93,
            "00:07:23": 0.92,
            "00:07:24": 0.92,
            "00:07:25": 0.92,
            "00:07:26": 0.91,
            "00:07:27": 0.91,
            "00:07:28": 0.91,
            "00:07:29": 0.90,
            "00:07:30": 0.89,
            "00:07:31": 0.89,
            "00:07:32": 0.89,
            "00:07:33": 0.89,
            "00:07:34": 0.89,
            "00:07:35": 0.88,
            "00:07:36": 0.88,
            "00:07:37": 0.88,
            "00:07:38": 0.87,
            "00:07:39": 0.87,
            "00:07:40": 0.87,
            "00:07:41": 0.86,
            "00:07:42": 0.86,
            "00:07:43": 0.86,
            "00:07:44": 0.85,
            "00:07:45": 0.85,
            "00:07:46": 0.85,
            "00:07:47": 0.84,
            "00:07:48": 0.84,
            "00:07:49": 0.84,
            "00:07:50": 0.83,
            "00:07:51": 0.83,
            "00:07:52": 0.83,
            "00:07:53": 0.82,
            "00:07:54": 0.82,
            "00:07:55": 0.82,
            "00:07:56": 0.81,
            "00:07:57": 0.81,
            "00:07:58": 0.81,
            "00:07:59": 0.80,
            "00:08:00": 0.79,
            "00:08:01": 0.79,
            "00:08:02": 0.79,
            "00:08:03": 0.79,
            "00:08:04": 0.79,
            "00:08:05": 0.78,
            "00:08:06": 0.78,
            "00:08:07": 0.78,
            "00:08:08": 0.77,
            "00:08:09": 0.77,
            "00:08:10": 0.77,
            "00:08:11": 0.76,
            "00:08:12": 0.76,
            "00:08:13": 0.76,
            "00:08:14": 0.75,
            "00:08:15": 0.75,
            "00:08:16": 0.75,
            "00:08:17": 0.74,
            "00:08:18": 0.74,
            "00:08:19": 0.74,
            "00:08:20": 0.73,
            "00:08:21": 0.73,
            "00:08:22": 0.73,
            "00:08:23": 0.72,
            "00:08:24": 0.72,
            "00:08:25": 0.72,
            "00:08:26": 0.71,
            "00:08:27": 0.71,
            "00:08:28": 0.71,
            "00:08:29": 0.70,
            "00:08:30": 0.69,
            "00:08:31": 0.69,
            "00:08:32": 0.69,
            "00:08:33": 0.68,
            "00:08:34": 0.68,
            "00:08:35": 0.68,
            "00:08:36": 0.68,
            "00:08:37": 0.68,
            "00:08:38": 0.67,
            "00:08:39": 0.67,
            "00:08:40": 0.66,
            "00:08:41": 0.66,
            "00:08:42": 0.66,
            "00:08:43": 0.66,
            "00:08:44": 0.65,
            "00:08:45": 0.65,
            "00:08:46": 0.65,
            "00:08:47": 0.64,
            "00:08:48": 0.64,
            "00:08:49": 0.64,
            "00:08:50": 0.63,
            "00:08:51": 0.63,
            "00:08:52": 0.63,
            "00:08:53": 0.62,
            "00:08:54": 0.62,
            "00:08:55": 0.62,
            "00:08:56": 0.61,
            "00:08:57": 0.61,
            "00:08:58": 0.61,
            "00:08:59": 0.60,
            "00:09:00": 0.59,
            "00:09:01": 0.59,
            "00:09:02": 0.59,
            "00:09:05": 0.58,
            "00:09:06": 0.58,
            "00:09:07": 0.58,
            "00:09:08": 0.57,
            "00:09:09": 0.57,
            "00:09:10": 0.57,
            "00:09:11": 0.56,
            "00:09:12": 0.56,
            "00:09:13": 0.56,
            "00:09:14": 0.55,
            "00:09:15": 0.55,
            "00:09:16": 0.55,
            "00:09:17": 0.54,
            "00:09:18": 0.54,
            "00:09:19": 0.54,
            "00:09:20": 0.53,
            "00:09:21": 0.53,
            "00:09:22": 0.53,
            "00:09:23": 0.52,
            "00:09:24": 0.52,
            "00:09:25": 0.52,
            "00:09:26": 0.51,
            "00:09:27": 0.51,
            "00:09:28": 0.51,
            "00:09:29": 0.50,
            "00:09:30": 0.49,
            "00:09:31": 0.49,
            "00:09:32": 0.49,
            "00:09:33": 0.49,
            "00:09:34": 0.49,
            "00:09:35": 0.48,
            "00:09:36": 0.48,
            "00:09:37": 0.48,
            "00:09:38": 0.47,
            "00:09:39": 0.47,
            "00:09:40": 0.47,
            "00:09:41": 0.46,
            "00:09:42": 0.46,
            "00:09:43": 0.46,
            "00:09:44": 0.45,
            "00:09:45": 0.44,
            "00:09:46": 0.44,
            "00:09:47": 0.44,
            "00:09:48": 0.43,
            "00:09:49": 0.43,
            "00:09:50": 0.43,
            "00:09:51": 0.42,
            "00:09:52": 0.42,
            "00:09:53": 0.42,
            "00:09:54": 0.41,
            "00:09:55": 0.41,
            "00:09:56": 0.41,
            "00:09:57": 0.40,
            "00:09:58": 0.40,
            "00:09:59": 0.40,
            "00:10:00": 0.39
        }
        let avg_temp_koef = 0
        $(document).ready(function () {
            $('form').on('change input', calcball);

            function calcball(event) {
                let tot_koef;
                let $ball = $('#ball');
                let $alarm = $('#alarm_message');
                let $button = $('#button');
                let category = $('#category').text();

                if (event.target.tagName === 'INPUT') {
                    let temp = $('#temp').val();
                    let distance = $('#day_distance').val();
                    let total_time = $('#day_time').val();

                    if (!distance || !total_time) {
                        $('#temp').val('00:00:00');
                        $button.prop('disabled', true);
                        return;
                    }

                    let avg_temp_koef = 1;
                    if (category !== '1' && category !== '2') {
                        for (const key in temp_koef) {
                            if (temp === key) {
                                avg_temp_koef = temp_koef[key];
                                break;

                            } else {
                                avg_temp_koef = 0.3;
                            }
                        }
                    }


                    for (let d of distance_koef) {
                        if (distance <= d[0]) {
                            let need_list_index;
                            if (distance < 5) {
                                need_list_index = 0;
                            } else if (distance >= 5 && distance < 10) {
                                need_list_index = 1;
                            } else {
                                need_list_index = distance_koef.indexOf(d) - 1;
                            }

                            let ost_dist;
                            let ost_koef;

                            if (distance >= 5) {
                                ost_dist = distance - distance_koef[need_list_index][0];
                                ost_koef = (distance_koef[need_list_index][1] + 0.1) * ost_dist;
                                tot_koef = ((5 * distance_koef[need_list_index][2] + ost_koef) * avg_temp_koef) * 10;
                            } else {
                                ost_koef = distance_koef[need_list_index][1] * distance;
                                tot_koef = (ost_koef * avg_temp_koef) * 10;
                            }
                            break;
                        }
                    }

                    let pieces = total_time.split(':');
                    if (pieces.length !== 3) {
                        $('#temp').val('00:00:00');
                        $button.prop('disabled', true);
                        return;
                    }

                    let hrs = Number(pieces[0]);
                    let mins = Number(pieces[1]);
                    let secs = Number(pieces[2]);
                    if (isNaN(hrs) || isNaN(mins) || isNaN(secs)) {
                        $('#temp').val('00:00:00');
                        $button.prop('disabled', true);
                        return;
                    }

                    let totalSecs = hrs * 3600 + mins * 60 + secs;
                    let avg = totalSecs / distance;

                    let avgHrs = Math.floor(avg / 3600);
                    let avgMins = Math.floor((avg % 3600) / 60);
                    let avgSecs = Math.floor(avg % 60);
                    let avgTime = `${avgHrs.toString().padStart(2, '0')}:${avgMins.toString().padStart(2, '0')}:${avgSecs.toString().padStart(2, '0')}`;
                    $('#temp').val(avgTime);

                    let temp_pieces = avgTime.split(':');
                    let temp_hrs = Number(temp_pieces[0]);
                    let temp_mins = Number(temp_pieces[1]);
                    let temp_secs = Number(temp_pieces[2]);
                    let total_avg = temp_hrs * 3600 + temp_mins * 60 + temp_secs;

                    if (total_avg <= 164) {
                        $button.prop('disabled', true);
                        $alarm.html('⚠️ Проверьте корректность ввода среднего темпа!');
                    } else if (Math.abs(avg - total_avg) > 60) {
                        $button.prop('disabled', true);
                        $alarm.html('⚠️ Средний темп не соответствует расчетным показателям');
                    } else if (total_time === '' || temp === '' || distance === '') {
                        $button.prop('disabled', true);
                    } else {
                        $button.prop('disabled', false);
                        $alarm.html('');
                    }
                }

                if (tot_koef) {
                    $ball.val(Math.round(tot_koef));
                } else {
                    $ball.val(0);
                }
            }
        });


    </script>


    <script>
        //Код jQuery, установливающий маску для ввода телефона элементу input
        //1. После загрузки страницы,  когда все элементы будут доступны выполнить...
        $(function () {
            //2. Получить элемент, к которому необходимо добавить маску
            $.mask.definitions['5'] = "[0-2]";
            $.mask.definitions['3'] = "[0-3]";
            $.mask.definitions['2'] = "[0-5]";

            $("#day_time").mask("53:29:29");
            {#$("#temp").mask("00:99:99");#}
        });




    </script>
{% endblock %}
