<!-- group_statistics.html -->
{% extends 'base.html' %}
{% load static %}
{% load time_tag %}
{% block content %}
<div class="mx-5 md:mx-10">
  <div
    class="hidden md:flex text-center bg-sky-700 flex-col rounded-t-2xl pb-10 mx-10"
  ></div>
  <main class="flex flex-col justify-center rounded-2xl pb-3 pt-10 bg-sky-900 h-full">
    <div class="flex flex-col bg-gray-200 mb-3  rounded-2xl w-full p-3 my-3 md:p-6 md:my-0">
    <div class="container-fluid">
        {% if flag %}

              <div class="flex justify-between items-center ">
                    <div>

                        <span class="text-center text-xl font-semibold truncate">Статистика групп</span>
                    </div>
                    <div>
                        <span class=" text-end text-xl font-semibold left-0">  Считается без учета коэффициента за средний темп </span>
                    </div>
                </div>

        {% else %}
             <div class="flex justify-between items-center ">
                    <div>

                        <span class="text-center text-xl font-semibold truncate">Статистика команд</span>
                    </div>

                </div>
        {% endif %}
        <div class=" w-full mt-5 p-1.5 bg-white shadow  rounded-xl">

        <table  id="selection-table">
    <thead>
        <tr>
            <th>
                <span class="flex items-center">
                    {% if flag %}Группа{% else %} Команда {% endif %}
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Участники
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Баллы
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Дистанция (км)
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Общее время
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Темп мин/км
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
            <th>
                <span class="flex items-center">
                    Кол-во пробежек
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>
        </tr>
    </thead>
     <tbody>
        {% for statistic in statistics %}
        {% if statistic.total_balls %}
        <tr>
            <td class="font-semibold text-gray-900 whitespace-nowrap">
                {% if flag %}
                          <a href="{% url 'viewGroup' statistic.group_id %}">
                {{ statistic.title }}
                          </a>
            {% else %}
                     <a href="{% url 'oneTeamView' statistic.title  %}">
              {{ statistic.title }}
                     </a>
                {% endif %}
            </td>
            <td>{{ statistic.participants|length }}</td>
            <td>{{ statistic.total_balls}} | {{ statistic.total_balls_for_champ }}</td>
            <td>{{ statistic.total_distance|floatformat:2 }}</td>
            <td>{{ statistic.total_time}}</td>
            <td>{{ statistic.total_average_temp|smooth_filter}}</td>
            <td>{{ statistic.participants|length }}</td>
        </tr>
            {% endif %}
        {% endfor %}



    </tbody>
</table>
        </div>
    </div>
</div>
</main>
</div>
{% endblock %}

{% block extrascripts %}

{% endblock %}