<!-- group_statistics.html -->
{% extends 'base.html' %}
{% load static %}
{% load time_tag %}
{% block content %}

    <div class="container-fluid">
        {% if flag %}
            <h1>Статистика групп</h1>
        {% else %}
            Статистика команд
        {% endif %}

        <table class="table table-striped">
            <thead>
           <tr>            </tr>
            <tr>
                <th> {% if flag %}Группа{% else %} Комада {% endif %}</th>
                <th>Баллы</th>
                <th>Дистанция</th>
                <th>Общее Время</th>
                <th>Темп</th>
                <th>Дней пробега</th>
                <th>Пробежки</th>
            </tr>
            </thead>
            <tbody>
            {% for team, data in group_data.items %}

                {#                TODO сделать  дропдаун на членов группы#}

                {% if  data.total_results.total_balls %}
                    <tr>
                    {% if flag %}
                        <td><a href="{% url 'groups:viewGroup' team.id %}">{{ team.group_title }}</a></td>
                        {% else %}
                        <td><a href="{% url 'oneteamstat' team.team %}">{{ team.team }}</a></td>
                        {% endif %}
                        <td>{{ data.total_results.total_balls }}</td>
                        <td>{{ data.total_results.total_distance }}</td>
                        <td>{{ data.total_results.total_times }}</td>
                        <td>{{ data.total_results.avg_temp|smooth_filter }}</td>
                        <td>{{ data.total_results.total_days }}</td>
                        <td>{{ data.total_results.total_runs }}</td>
                    </tr>
                {% endif %}

                {#            этот кусок можно разкоменнтить для вывода статистики по участникам групп#}
                {#                {% for user in data.users %}#}
                {#                    {% for stat in data.user_stats %}#}
                {#                        {% if stat.runner_stat == user %}#}
                {#                            <tr>#}
                {#                                <td>{{ user.username }}</td>#}
                {#                                <td>{{ stat.total_balls }}</td>#}
                {#                                <td>{{ stat.total_distance }}</td>#}
                {#                                <td>{{ stat.total_time|time:"H:i:s" }}</td>#}
                {#                                <td>{{ stat.total_average_temp|time:"i:s" }}</td>#}
                {#                                <td>{{ stat.total_days }}</td>#}
                {#                                <td>{{ stat.total_runs }}</td>#}
                {#                            </tr>#}
                {#                        {% endif %}#}
                {#                    {% endfor %}#}
                {#                {% endfor %}#}
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
