<!-- group_statistics.html -->
{% extends 'base.html' %}
{% load static %}
{% load time_tag %}
{% block content %}

    <div class="container-fluid">
        {% if flag %}
            <h1>Статистика групп</h1>
        {% else %}
            Статистика команд
        {% endif %}

        <table class="table table-striped" id="comanda">
                <thead class="table-dark text-center">

            <tr>
                <th> {% if flag %}Группа{% else %} Команда {% endif %}</th>
                <th>Участники</th>
                <th>Баллы</th>
                <th>Дистанция</th>
                <th>Общее Время</th>
                <th>Темп</th>
                <th>Дней пробега</th>
                <th>Пробежки</th>
            </tr>
            </thead>
            <tbody>


{{ group_data }}

            {% for team, data in group_data.items %}
{##}        {{ data }}
                {#                TODO сделать  дропдаун на членов группы#}
{##}
                {% if  data.total_results.total_balls %}
                    <tr>


                            <td> {% if flag %} <a href="{% url 'viewGroup' team.id  %}"> {% else %}
                            <a href="{% url 'oneTeamView' team %}">{% endif %}{{ team }}</a>
                        </td>
                        <td>{{ data.total_results.tot_users }}</td>
                        <td>{{ data.total_results.total_balls }}</td>
                        <td>{{ data.total_results.total_distance }}</td>
                        <td>{{ data.total_results.total_time }}</td>
                        <td>{{ data.total_results.total_average_temp|smooth_filter }}</td>
                        <td>{{ data.total_results.total_days }}</td>
                        <td>{{ data.total_results.total_runs }}</td>
                    </tr>
                {% endif %}
{##}
                {#            этот кусок можно разкоменнтить для вывода статистики по участникам групп#}
                {#                {% for user in data.users %}#}
                {#                    {% for stat in data.user_stats %}#}
                {#                        {% if stat.runner_stat == user %}#}
                {#                            <tr>#}
                {#                                <td>{{ user.username }}</td>#}
                {#                                <td>{{ stat.total_balls }}</td>#}
                {#                                <td>{{ stat.total_distance }}</td>#}
                {#                                <td>{{ stat.total_time|time:"H:i:s" }}</td>#}
                {#                                <td>{{ stat.total_average_temp|time:"i:s" }}</td>#}
                {#                                <td>{{ stat.total_days }}</td>#}
                {#                                <td>{{ stat.total_runs }}</td>#}
                {#                            </tr>#}
                {#                        {% endif %}#}
                {#                    {% endfor %}#}
                {#                {% endfor %}#}
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{% block extrascripts %}

    <script>

        new DataTable('#comanda', {

                columnDefs: [
                    {

                        className: 'dt-center'
                    }
                ],
                pageLength: 50,
                ordering: true,
                bLengthChange: true,
                info: true,
                searching: true,

                layout: {
                    topStart: 'info',
                    bottom: 'paging',
                    bottomStart: null,
                    bottomEnd: null
                },
                language: {
                    "processing": "Подождите...",
                    "search": "",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "searchPlaceholder": "поиск участника",
                }
            }
        );
    </script>
{% endblock %}%}