{% extends 'base.html' %}
{% load static %}
{% load time_tag %}
{% load divide_tag %}

{% block content %}

    <div class="container-fluid">
        {% csrf_token %}

    </div>

    <h1> Чемпионат </h1>

    <hr>

    <div class="container-fluid">
        <table id="champ" class="table  table-striped text-center">

            <thead class="table-dark text-center">

            <td>Место</td>
            <td>Номер команды</td>
            <td> Новичок</td>
            <td> Любитель</td>
            <td> Профи</td>

            <td> Всего</td>
            </thead>
            <tbody class="text-center">


            {#{{ qs }}#}
            {% for k,v in qs.items %}

                <tr>

                    <td>{{ forloop.counter }}</td>
                    {% if  v.total_run_sum %}
                        <td><a href="/comands/{{ k }}">{{ k }} </a></td>
                        <td> {{ v.cat3|floatformat:3 }} км</td>
                        <td> {{ v.cat4|floatformat:3 }} км</td>
                        <td> {{ v.cat5|floatformat:3 }} км</td>
                        <td> {{ v.total_run_sum|floatformat:3 }} км</td>

                    {% else %}

                        <td><a href="/comands/{{ k }}">{{ k }} </a></td>
                        <td> нет пробега</td>

                        <td> - - - - - - -</td>
                        <td> - - - - - - -</td>
                        <td> - - - - - - -</td>
                        {#                        <td> - - - - - - -</td>#}

                    {% endif %}


                </tr>


            {% endfor %}


            </tbody>
            <tr></tr>

        </table>
    </div>

    {#    {% пригодится для статистки по дням %}#}
    {#       {% for value in tot_dist.values %}#}
    {#        <p class='first'> пробег участника {{ value }}  </p>#}


    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

{% endblock %}