{% extends 'base.html' %}
{% load static %}
{% load time_tag %}
{% load divide_tag %}

{% block content %}

    <div class="container-fluid">
        {% csrf_token %}

    </div>

    <h1> Чемпионат </h1>

    <hr>

    <ul>


        {#{{ best_runners }}#}
        {#      <ul>#}
        {#    {% for age_group, runners in best_runners.items %}#}
        {#      <h2>{{ age_group }}</h2>#}
        {#      <ul>#}
        {#        {% for runner in runners %}#}
        {#          <li>#}
        {#            {{ runner.runner_stat.first_name }} {{ runner.runner_stat.last_name }} - {{ runner.total_balls }} баллов#}
        {#          </li>#}
        {#        {% endfor %}#}
        {#      </ul>#}
        {#    {% endfor %}#}
        {#  </ul>#}


        <hr>
        <div class="container-fluid">
            <table id="champ" class="table  table-striped text-center">

                <thead class="table-dark text-center">

                <td>Место</td>
                <td>Номер команды</td>
                <td> до 18 лет</td>
                <td> 18-35 лет</td>
                <td> 36-49 лет</td>
                <td> 50+ лет</td>

                <td> Всего</td>
                </thead>
                <tbody class="text-center">


                {#{{ qs }}#}
                {% for k,v in qs.items %}

                    <tr>

                        <td>{{ forloop.counter }}</td>
                        {% if  v.summ %}
                            <td><a href="/comands/{{ k }}">{{ k }} </a></td>


                            <td> {{ v.age.0 }} </td>
                            <td> {{ v.age.1 }} </td>
                            <td> {{ v.age.2 }} </td>
                            <td> {{ v.age.3 }} </td>
                            <td> {{ v.summ }}</td>

                        {% else %}

                            <td><a href="/comands/{{ k }}">{{ k }} </a></td>
                            <td> нет пробега</td>

                            <td> - - - - - - -</td>
                            <td> - - - - - - -</td>
                            <td> - - - - - - -</td>
                            <td> - - - - - - -</td>
                            {#                        <td> - - - - - - -</td>#}

                        {% endif %}


                    </tr>


                {% endfor %}


                </tbody>
                <tr></tr>

            </table>
        </div>

        {#    {% пригодится для статистки по дням %}#}
        {#       {% for value in tot_dist.values %}#}
        {#        <p class='first'> пробег участника {{ value }}  </p>#}


        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

{% endblock %}