{% extends 'base.html' %}
{% load static %}
{% load time_tag %}
{% load divide_tag %}
{% load okon4_tag %}
{% block content %}
    {% csrf_token %}
    {#    //страница отображает Список команд #}
    <div class=" container-fluid ">
        <div class="header-stat-comanda">

            {#            {% for c in comand %}#}
            <h1> состав команды № {{ comand_number }} </h1>
            {#            {% endfor %}#}

            <hr>
            <div class="statistic-team">
                <p class="col-form-label"> Зарегистрировано {{ team_count|okon4 }} </p>
                <p class="col-form-label"> общий пробег команды - {{ res.tot_distance|floatformat:3 }} км</p>
                {% if res.tot_time %}
                    <p class="col-form-label">общее время пробега - {{ res.tot_time}}</p>
                {% else %}
                    <p class="col-form-label">общее время пробега - км</p>
                {% endif %}
                 {% if res.avg_time %}
                  <p class="col-form-label"> средний темп команды - {{ res.avg_time}} мин/км</p>
                {% else %}
                    <p class="col-form-label"> средний темп команды - мин/км</p>
                {% endif %}
                    <p class="col-form-label"> всего пробежек -{{ res.tot_runs }} </p>

            </div>

        </div>


        <table class="table  table-striped" id="comanda">
            <thead class="table-dark text-center">
            <tr>
                <td>№</td>
                <td> номер</td>
                <td> баллы</td>
                <td> пробег</td>
                <td> время</td>
                <td> темп</td>
                <td> категория</td>
                <td> возраст</td>
               <td> пробежки</td>


            </tr>
            </thead>
            <tbody class="">



            {% for  c in qs %}

                <tr class=" text-center">
                    <td>{{ forloop.counter }}</td>

                    <td><a href="/profile/{{ c.runner_stat__username }}"> {{ c.runner_stat__username }}</a></td>
                    <td> {{ c.total_balls }}</td>
                    <td> {{ c.total_distance|floatformat:3 }} км</td>
                    <td> {{ c.total_time|time:"H:i:s" }}</td>
                    <td> {{ c.total_average_temp|time:"i:s" }}</td>
                    <td> {{ c.runner_stat__runner_category }}</td>
                    <td> {{ c.runner_stat__runner_age }}</td>

                    <td> {{ c.total_runs }}</td>

                    {#                    <td> {{ c.avg_time}}</td>#}
                </tr>
            {% endfor %}


            </tbody>
            <tr></tr>
        </table>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



{% endblock %}

