{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <h3>Группы и участники</h3>
  <br />

 {% for group in groups %}
<h2>{{ group.group_title }}</h2>
<table>
    <thead>
        <tr>
            <th>№п/п</th>
            <th>Участник</th>
            <th>баллы</th>
            <th>дистанция</th>
            <th>время</th>
            <th>средний темп</th>
            <th>всего дней</th>
            <th>пробежки</th>
            <th>квалификация</th>
        </tr>
    </thead>
    <tbody>
        {% for runner in group.runners %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ runner.runner__username }}</td>
            <td>{{ runner.runner__statistic__total_balls }}</td>
            <td>{{ runner.runner__statistic__total_distance }}</td>
            <td>{{ runner.runner__statistic__total_time }}</td>
            <td>{{ runner.runner__statistic__total_average_temp }}</td>
            <td>{{ runner.runner__statistic__total_days }}</td>
            <td>{{ runner.runner__statistic__total_runs }}</td>
            <td>{% if runner.runner__statistic__is_qualificated %} Да {% else %} Нет {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
</div>
{% endblock %}
