{% extends 'base.html' %}

{% block content %}
 <div class="container-fluid">
        <h3> Группы и участники</h3>
        <br>

        {% if message %}
        <h1> {{ message }}</h1>

            <a href="{% url  'profile:addfamily' user.username%}">добавиться в группу</a>
 {% else %}
        {% for k,v in qs.items %}

            <table class="table  table-striped">
                <tbody>
                <tr class="bg-white outline text-center text-bg-dark text-lg-center font-extrabold text-bg-secondary">
                    <td colspan="9"> {{ k }}</td>
                </tr>
                <tr class="row-cols-md-4 text-center table-warning">
                    <td>№п/п</td>
                    <td>Участник</td>
                    <td>баллы</td>
                    <td>дистанция</td>
                    <td>время</td>
                    <td>средний темп</td>
                    <td>всего дней</td>
                    <td> пробежки</td>
                    <td>квалификация</td>
                </tr>
                {% for u in v %}
                    <tr class="row-cols-md-4 text-center">

                        <td> {{ forloop.counter }}</td>
                        <td> {{ u }}</td>
                        <td> {{ u.total_balls }}</td>
                        <td> {{ u.total_distance }}</td>
                        <td> {{ u.total_time }}</td>
                        <td> {{ u.total_average_temp }}</td>
                        <td> {{ u.total_days }}</td>
                        <td> {{ u.total_runs }}</td>
                        <td>{% if u.is_qualificated %} Да {% else %} Нет {% endif %}</td>

                    </tr>

                    <p>
                    <p>
                    <p>




                {% endfor %}


                </tbody>
            </table>



        {% endfor %}
 {% endif %}
    </div>
{% endblock %}
