{% extends 'base.html' %}
{% load static %}
{#{% static 'js/table.js' %}#}
{% load time_tag %}
{% load divide_tag %}
{% load cat_tag %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
{% include 'components/sidebar.html' %}
{% block content %}

    <div class="container-fluid">
        {% csrf_token %}





        {% if cat_selected == 'woman' %}
            <h2> Результаты участников женщин </h2>
        {% elif cat_selected %}
            <h2> Результаты участников в категории {{ cat_selected|cat_tag }} </h2>
        {% else %}
            <h3> Общие результаты участников</h3>


        {% endif %}

        <div class="topbar-divider"></div>
        <div class="flex justify-content-around">


            <h2>выбор категории:</h2>
            <a class="text-center text-warning text-3xl" href="{% url 'runnercat_selected' 0 0 'all' %}">Общий</a>
            <a class=" text-center text-warning text-3xl"
               href="{% url 'runnercat_selected' 1 0 'all' %}">Новичок</a>
            <a class=" text-center text-warning text-3xl"
               href="{% url 'runnercat_selected' 2 0 'all' %}">Любитель</a>
            <a class=" text-center text-warning text-3xl"
               href="{% url 'runnercat_selected' 3 0 'all' %}">Профи</a>
            <a class="text-center text-warning text-3xl"
               href="{% url 'runnercat_selected' 0 0 'f' %}">Женщины</a>
        </div>

        <div class=" dropdown">

            <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Возраст
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">Возраст
                <a class="dropdown-item text-center"

                   href="{% url 'runnercat_selected' cat_selected 0  'all' %}">Все</a>

                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center"
                   href="{% url 'runnercat_selected' cat_selected 1  'all'%}">до 17
                    лет</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-center"
                   href="{% url 'runnercat_selected' cat_selected 2  'all' %}">18-35
                    лет</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center"
                   href="{% url 'runnercat_selected' cat_selected 3  'all'%}"> 36-49
                    лет </a>
                <div class="dropdown-divider"></div>


                <a class="dropdown-item text-center"
                   href="{% url 'runnercat_selected' cat_selected 4  'all'%}">
                    50+</a>
                <div class="dropdown-divider"></div>

            </div>
        </div>


        <div class="container-fluid">
            <table id="myTable" class="table  table-striped text-center">

                <thead class="table-dark text-center">
                <td> №п/п</td>
                <td>Номер участника</td>
                <td> Команда</td>
                <td> Категория</td>
                <td> Возраст</td>
                <td> пол</td>
                <td> Участник забега 2022</td>
                <td> Участник забега 2023</td>

                </thead>
                <tbody class="text-center">


                {% for s in tot_dist %}


                    <tr class="row-cols-xl-auto c">


                        <td>{{ forloop.counter }}</td>
                        <td><a href="/profile/{{ s.username }}">{{ s.username }} </a></td>
                        <td>  {{ s.runner_team }}</td>
                        <td> {{ s.runner_category|cat_tag }}</td>
                        <td> {{ s.runner_age }}</td>
                        {#                    <td> {{ s.avg_time|smooth_filter }}</td>#}
                        <td> {% if s.runner_gender == 'м' %} <i class="fa-solid fa-person fa-2xl"></i> {% else %}<i class="fa-solid fa-person-dress fa-2xl"></i> {% endif %}</td>
                        <td> {% if s.zabeg22 %} <i class="fa-solid fa-check"></i>{% else %} <i class="fa-duotone fa-x"></i> {% endif %}</td>
                        <td> {% if s.zabeg23 %}<i class="fa-solid fa-check"></i> {% else %} <i class="fa-duotone fa-x"></i> {% endif %}</td>



                    </tr>


                {% endfor %}

                </tbody>
                <tr></tr>

            </table>
        </div>


        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

    </div>
{% endblock %}