{% extends 'base.html' %}
{% load static %}
{% load divide_tag %}
{% load time_tag %}
{% block content %}
    {% csrf_token %}

    <div class=" container-fluid ">

        {#   шапка личного кабинета с описанием участника#}

        {% for d in data %}
            <h1> Статистика по участнику № {{ d.runner_stat }}  </h1>
            <p> дистанция за все время пробега -{{ d.total_distance }}</p>
            <p> все время пробега - {{ d.total_time }}</p>
            <p> средний темп - {{ d.total_average_temp }}</p>
            <p> дней пробега - {{ d.total_days }}</p>
            <p> количество пробежек - {{ d.total_runs }}</p>

            {% if request.user.is_authenticated and d.runner_stat == request.user %}

                <div class="button">

                    <a href='{% url 'profile:addrunday' d.runner_stat %}'>
                        <div class="btn btn-facebook btn-user btn-block" style="text-align: center; width: 150px ">Внести
                            сведения
                        </div>
                                            </a>
                </div>
            {% endif %}
            </div>
        {% endfor %}
    {#6061535#}

    {% if haverun == '1' %}
        {% for u in tot_dist %}

            <hr>
            <div class="statistic-user">
            <div>
                {% for d in data %}
                    <p class="col-form-label"> Команда - №{{ d.runner_team }}</p>
                    <p class="col-form-label"> Пол - {{ d.runner_gender }}</p>
                    <p class="col-form-label"> Возраст - {{ d.runner_age }}</p>
                    <p class="col-form-label"> Категория - {{ d.runner_category }}</p>

                {% endfor %}

            </div>
            <div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }} col-lg-auto   text-danger "
                                                     style="font-size: 28px" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>

            <p class="col-form-label">Место в общем рейтинге - {{ forloop.counter }} </p>
            {#            #TODO добавить место в рейтинге по категории#}
            <p class="col-form-label">Место в рейтинге по категории - {{ forloop.counter }} </p>

            <p class="col-form-label">Пробег за все время - {{ u.total_dist|floatformat:3 }} км</p>
            <p class="col-form-label">Общее время пробега - {{ u.total_time }}</p>
            <p class="col-form-label"> Средний темп - {{ avg_temp }} мин/км</p>
        {% endfor %}
    </div>
    </div>






    {% elif haverun == '0' %}

        <p class="text-danger"> В профиле пока нет данных по пробегу</p>
        <hr>
        <div class="statistic-user">

            <div>

                {% for d in data %}
                    <p class="col-form-label"> Команда - №{{ d.runner_team }}</p>
                    <p class="col-form-label"> Пол - {{ d.runner_gender }}</p>
                    <p class="col-form-label"> Возраст - {{ d.runner_age }}</p>
                    <p class="col-form-label"> Категория - {{ d.runner_category }}</p>

                {% endfor %}
            </div>
            {% if  not data %}


{#                <div>#}
{#                    <p class="col-form-label">Пробег за все время - {{ u.total_dist|floatformat:3 }} км</p>#}
{#                    <p class="col-form-label">Общее время пробега - {{ u.total_time }}</p>#}
{#                    <p class="col-form-label"> Средний темп - {{ avg_temp }} мин/км</p>#}
{#                </div>#}
            {% endif %}

        </div>

    {% endif %}






    <table class="table  table-striped" id="profile">
        <thead class="table-dark text-center">
        <tr class="bg">
            <td> день пробега</td>
            <td> дистанция пробега</td>
            <td> время пробега</td>
            <td> средний темп</td>
            <td> фото-отчет за день</td>
            <td></td>
        </tr>
        </thead>


        <tbody>

        {% for p in runner_day %}

{#            {% if p.day_average_temp|time:'i:s' > '08:00' %}#}
{#                <tr class="row-cols-md-4 text-center bg-warning" onload="">#}
{##}
{#                    {% else %}#}
                <tr class="row-cols-md-4 text-center">
{#            {% endif %}#}

        {% for d in data %}


            {% if request.user.is_authenticated and request.user == p.runner or request.user == 'admin' %}
                {#                            <td><a href="{% url 'editrunday' runner=p.runner pk=p.pk %}">#}
                <td>
                <a href="{% url 'profile:editrunday' username=p.runner pk=p.pk %}">
                    <i class="fas fa-pen fa-lg"></i> {{ p.day_select }}</a>
                </td>
            {% else %}
                <td> {{ p.day_select }} сентября</td>
            {% endif %}
        {% endfor %}
        <td> {{ p.day_distance|floatformat:3 }}</td>
        <td> {{ p.day_time|time:'H:i:s' }}</td>
        <td> {{ p.day_average_temp|time:'i:s' }}</td>
        {% if p.photo and request.user.is_authenticated %}
            <td><img class="runday-img" src="{{ p.photo.url }}" alt="" style="width: 50px;"
                     onClick='this.classList.toggle("show")'
                    {#                        onclick="changeSizeOneImage(this)" class ="ot4et-photo"></td>#}
                     class="ot4et-photo"></td>

        {% else %}
            <td>-</td>
        {% endif %}

        {% for d in data %}
            {% if request.user.is_authenticated and request.user == p.runner or request.user == 'admin' %}

                <td><a href="{% url 'profile:delete' username=p.runner pk=p.pk %}">
                <i class="fa-solid fa-trash" style="padding-right: 20px"> </i></a>
                                            </td>
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
        </tr>


        {% endfor %}
        </tbody>
        <tr></tr>
    </table>



    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



{% endblock %}

{#{% block calend %}#}
{#    {% for value in calend %}#}
{##}
{#        <a href="/day_selected/{{ value }}" class="day-selected">{{ value }}</a>#}
{##}
{#    {% endfor %}#}
{#{% endblock %}#}