{% extends 'base.html' %}
{% load static %}
{% load divide_tag %}
{% load time_tag %}
{% block content %}
    {% csrf_token %}




    <div class=" container-fluid ">

    {#   шапка личного кабинета с описанием участника#}
    {#     {% if request.user.is_authenticated and runner_stat == request.user %}#}
    <div class="flex justify-content-evenly">
        <div class="button">

            <a href='{% url 'profile:addrunday' runner_stat %}'>
                <div class="block w-full rounded-3 bg-blue-600 text-5xl text-stone-50"
                     style="text-align: center; width: 150px "></i>Внести
                    сведения
                </div>
            </a>
        </div>

        {#                    <div class="button">#}
        {##}
        {#                        <a href='{% url 'profile:addfamily' username=runner_stat pk=runner_stat.pk %}'>#}
        {#                            <div class="block w-full rounded-3 bg-blue-600 text-5xl text-stone-50"#}
        {#                                 style="text-align: center; width: 150px "></i>Добавить семью#}
        {#                            </div>#}
        {#                        </a>#}
        {#                    </div>#}
    </div>


    {#            {% endif %}#}
    <h1> Статистика по участнику № {{ runner_stat }}  </h1>
    <div class="statistic-user flex justify-content-around">
        <div>
            {% if data %}
                {% for d in data %}
                    <p> дистанция за все время пробега -{{ d.total_distance }}</p>
                    <p> все время пробега - {{ d.total_time }}</p>
                    <p> средний темп - {{ d.total_average_temp }}</p>
                    <p> дней пробега - {{ d.total_days }}</p>
                    <p> количество пробежек - {{ d.total_runs }}</p>
                {% endfor %}
                </div>


            {% else %}
                <h2 class="bg-red-500"> Участник пока не внес никаких сведений о пробежках</h2>
            {% endif %}


        <div>
            {% for d in user_data %}
                <p class="col-form-label"> Команда - №{{ d.runner_team }}</p>
                <p class="col-form-label"> Пол - {{ d.runner_gender }}</p>
                <p class="col-form-label"> Возраст - {{ d.runner_age }}</p>
                <p class="col-form-label"> Категория - {{ d.runner_category }}</p>



            {% endfor %}

        </div>
        <div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} col-lg-auto   text-danger "
                                                 style="font-size: 28px" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% for u in tot_dist %}
            <div class="rating">

            <p class="col-form-label">Место в общем рейтинге - {{ forloop.counter }} </p>
            {#            #TODO добавить место в рейтинге по категории#}
            <p class="col-form-label">Место в рейтинге по категории - {{ forloop.counter }} </p>

            <p class="col-form-label">Пробег за все время - {{ u.total_dist|floatformat:3 }} км</p>
            <p class="col-form-label">Общее время пробега - {{ u.total_time }}</p>
            <p class="col-form-label"> Средний темп - {{ u.avg_temp }} мин/км</p>
        {% endfor %}
        </div>
    </div>


    <table class="table  table-striped" id="profile">
        <thead class="table-dark text-center">
        <tr class="bg">
            <td> день </td>
            <td> дистанция </td>
            <td> время </td>
            <td>  темп</td>
            <td> баллы </td>
            <td> фото</td>
            <td></td>
        </tr>
        </thead>


        <tbody>

        {% for p in runner_day %}

            {#            {% if p.day_average_temp|time:'i:s' > '08:00' %}#}
            {#                <tr class="row-cols-md-4 text-center bg-warning" onload="">#}
            {##}
            {#                    {% else %}#}
            <tr class="row-cols-md-4 text-center">
                {#            {% endif %}#}

{#                {% for d in data %}#}


{#                    {% if request.user.is_authenticated and request.user == p.runner or request.user == 'admin' %}#}
                        {#                            <td><a href="{% url 'editrunday' runner=p.runner pk=p.pk %}">#}
                        <td>
                            <a href="{% url 'profile:editrunday' username=p.runner pk=p.pk %}">
                                <i class="fas fa-pen fa-lg"></i> {{ p.day_select }}</a>
                        </td>
{#                    {% else %}#}
{#                        <td> {{ p.day_select }} сентября</td>#}
{#                    {% endif %}#}
{#                  {% endfor %}#}
                <td> {{ p.day_distance|floatformat:3 }}</td>
                <td> {{ p.day_time|time:'H:i:s' }}</td>
                <td> {{ p.day_average_temp|time:'i:s' }}</td>
                <td> {{ p.ball }} </td>

                <td style="width: max-content; display: flex">
                    {% for image in images %}
                        {% if request.user.is_authenticated and p.day_select == image.day_select %}

                            <img class="runday-img  ot4et-photo" src="{{ image.photo.url }}" alt=""
                                 style="width: 50px; margin: 5px"
                                 onClick='this.classList.toggle("show")'>
                        {% else %}
                        {% endif %}
                    {% endfor %}


                </td>


{#                {% for d in data %}#}
{#                    {% if request.user.is_authenticated and request.user == p.runner or request.user == 'admin' %}#}

                        <td><a href="{% url 'profile:delete' username=p.runner pk=p.pk %}">
                            <i class="fa-solid fa-trash" style="padding-right: 20px"> </i></a>
                        </td>
{#                    {% else %}#}
{#                        <td></td>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
            </tr>


        {% endfor %}
        </tbody>
        <tr></tr>
    </table>


    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


{% endblock %}

{#{% block calend %}#}
{#    {% for value in calend %}#}
{##}
{#        <a href="/day_selected/{{ value }}" class="day-selected">{{ value }}</a>#}
{##}
{#    {% endfor %}#}
{#{% endblock %}#}