{% load static %} {#{% static 'js/table.js' %}#}
{% load time_tag %} {% load divide_tag %} {% load cat_tag %}

<div class="flex  flex-col-reverse bg-gray-200 w-full mb-3 rounded-2xl  lg:flex-row lg:flex-nowrap">
    <!-- Сайдбар -->
    <div
            class="flex flex-col  p-3 mb-3 md:p-6 md:my-0 md:grid-cols-2 md:gap-4 md:grid w-full justify-center  lg:flex lg:max-w-96     lg:border-r border-gray-300 "
    >
        <!-- Календарь -->
        <div class="">
            <div class="flex items-center h-10"><h2 class="mr-5 text-lg font-semibold truncate">Календарь события</h2>
            </div>
            <div class=" rounded-xl shadow bg-white my-5 p-5">
                <div class="flex ">
                    <div class="mx-auto text-base font-semibold truncate">Сентябрь</div>
                </div>
                <div
                        class="grid grid-cols-7 gap-4 mt-5 text-center"
                >
                    <div class="font-medium">Пн</div>
                    <div class="font-medium">Вт</div>
                    <div class="font-medium">Ср</div>
                    <div class="font-medium">Чт</div>
                    <div class="font-medium">Пт</div>
                    <div class="font-medium">Сб</div>
                    <div class="font-medium">Вс</div>
                    <div class="py-0.5 rounded relative text-slate-500">26</div>
                    <div class="py-0.5 rounded relative text-slate-500">27</div>
                    <div class="py-0.5 rounded relative text-slate-500">28</div>
                    <div class="py-0.5 rounded relative text-slate-500">29</div>
                    <div class="py-0.5 rounded relative text-slate-500">30</div>
                    <div class="py-0.5 rounded relative text-slate-500">31</div>
                    {% now 'j' as today %} {% for day in 1|range:31 %}
                    <a class="py-0.5 hover:bg-sky-700 hover:text-white rounded relative"
                       href="{% url 'runner_day_results' day %}">{{ day }}</a>
                {% endfor %}
                    <div class="py-0.5 rounded relative text-slate-500">1</div>
                    <div class="py-0.5 rounded relative text-slate-500">2</div>
                    <div class="py-0.5 rounded relative text-slate-500">3</div>
                    <div class="py-0.5 rounded relative text-slate-500">4</div>
                    <div class="py-0.5 rounded relative text-slate-500">5</div>
                    <div class="py-0.5 rounded relative text-slate-500">6</div>
                </div>
            </div>
        </div>
       