{% load static %}


<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
<ul class="navbar-nav profile-user">



        {% if request.user.is_authenticated %}
            <div class="container-user-profile">
            <div class="col-lg-auto user-profile">

                           </div>
            <div class=" dropdown">
                <a class="btn btn-primary dropdown-toggle  " href="{% url 'profile:profile' username=user.username %}" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 {{ user.username }}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                     <a class="dropdown-item text-center" href="{% url 'profile:profile' username=user.username %}">Моя страница</a>
                     <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="{% url 'profile:addfamily' username=user.username %}">Семья</a>
                    <div class="dropdown-divider"></div>
                     <a  class="dropdown-item text-center" href="https://t.me/+75TfUU8Jc102YmNi"> <i class="fa-brands fa-telegram "></i> Telegram </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="{% url 'authorize:logout' %}">Выход</a>
                     <div class="dropdown-divider"></div>

                </div>


            </div>

        {% else %}
            <li class="col-lg-auto user-profile"><a href="{% url 'authorize:register' %}"> Регистрация </a></li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="col-lg-auto user-profile"><a href="{% url 'authorize:login' %}"> Вход </a></li>
            <div class="topbar-divider d-none d-sm-block"></div>


        {% endif %}


        <div class="topbar-divider"></div>
        {% for i in user_detail %}
            {% if i.is_superuser %}
                <div class="col-lg-auto user-profile"><a href="{% url 'exportcsv' %}"> экспорт csv </a></div>
            {% endif %}

        {% endfor %}

        {% if request.user.is_authenticated %}



        {% endif %}

    </ul>
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <a href="{% url 'index' %}"> Главная</a>


</nav>






