{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body class="bg-gradient-primary">


    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">

            <div class="row">

                <br>

                <div class="user-creation-form  flex justify-center">
{#                    <form method="post" action="{% url 'register' %}" enctype="text/plain">#}
                    <form method="post">
                           {% csrf_token %}
                    {{ form.name.errors }}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }} text-danger "
                                                             style="font-size:20px;"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                        {% for f in form %}

                            <p><label class="form-label" for="{{ f.id_for_label }}"
                                      style="font-size: 20px;">{{ f.label }}: </label>{{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}
                        <button type="submit" class="btn btn-facebook btn-user btn-block"> Регистрация</button>

                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

 {% block extrascripts %}
     <script src="{% static  'register.js' %}"></script>
<script>
document.getElementById("username").addEventListener("change", myFunction);
let user=document.getElementById('username')
let  team= document.getElementById('team');


user.onchange=function () {
    team.value=user.value.slice(0,3)}

function myFunction() {


    team.value=user.value.slice(0,3)
console.log(team.value)


}

document.getElementById("status").addEventListener("change", function() {
    let username=document.getElementById('username')
    let status=document.getElementById("status")
    let v = parseInt(username.value);
    console.log(status)
     const fruits = document.querySelectorAll('input[name="runner_status"]');
  for (const f of fruits) {
      if (f.checked && f.value===1) {
            if (v < 100000) username.value = 100000;
            if (v > 250000) username.value = 250000;
      }
      else{
            if (v < 10000) username.value = 10000;
            if (v > 99999) username.value = 99999;
      }
  }

});





</script>
{% endblock %}